/* **************************************** CSS reset ****************************************
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit; 
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5; /* modifies CSS reset to slightly increase line height for readability */
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***************************************** SPA CORRECTIONS/ADDITIONS TO CSS RESET ********************************/

/* use screen size as border size for content */
html {
 box-sizing: border-box;
 margin-top: -1.5rem;
}

body {
	box-sizing: border-box;
}

/***************************************** MY STYLING BEGINS HERE *****************************************/

/***************************************** GLOBAL STYLING *****************************************/

/* QUESTION: How do I test these? Since they weren't right on my midterm, I used code from W3S this time. It seems right, but so did the midterm. */

.skip {/* styles skiplinks: https://www.w3schools.com/accessibility/accessibility_skip_links.php */
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip:focus { /* styles skiplinks focus state: https://www.w3schools.com/accessibility/accessibility_skip_links.php */
  position: static;
  width: auto;
  height: auto;
}

h1 { /* targets all page titles */
	font-family: "Aclonica", 'Arial Narrow', Arial, sans-serif; /* links to google font from wireframes embedded in head of each html file */
	font-size: 2.5rem;
}

h2, h3, h4, h5, h6 { /* targets all other headings */
	font-family: "Happy Monkey", 'Arial Narrow', Arial, sans-serif; /* links to google font from wireframes embedded in head of each html file */
}

h2 { /* targets all h2s */
	font-size: 2rem; /* sizes h2s */
}

h3 { /* targets all h3s */
	font-size: 1.5rem; /* sizes h3s */
}

body { /* targets all body content */
	font-family: "EB Garamond", 'Arial Narrow', Arial, sans-serif; /* links to google font from wireframes embedded in head of each html file */
}

img { /* targets all images */
	width: 100%; /* sizes all images */
}

.nav-buttons img { /* targets all nav button images */
	height: 25%; /* sizes vectors */
	width: 25%; /* sizes vectors */
}

#adopt-process { /* targets adoption process image */
	width: 50%; /* sizes image */
	height: 50%; /* sizes image */
	border-radius: 50%; /* rounds corners */
}

footer { /* targets footer */
	display: flex; /* arranges content in a row */
	justify-content: space-between; /* spaces footer content */
	background-color: #228ed3; /* color value from wireframes */
	color: white; /* color value from wireframes */
	padding-top: 10px; /* adds padding to footer */
	padding-bottom: 10px; /* adds padding to footer */
	padding-left: 10px; /* adds padding to footer */
	padding-right: 10px; /* adds padding to footer */
}

/* QUESTION: How do I change the icon's color instead of background color? Is the google icon not properly embedded, or not properly targeted? I tried "color" and "fill," but only "background-color" displays any change. */

.material-symbols-outlined { /* targets home icon in footer */
	
}

footer a:link { /* targets home link in footer */

}

footer a:hover { /* targets home link in footer when hovered over */
	background-color: #f5eea5; 
}

footer a:active { /* targets home link in footer when selected */
	background-color: #3e8117; 
}