/* **************************************** CSS reset ****************************************
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1.5;
	/* modifies CSS reset to slightly increase line height for readability */
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***************************************** SPA CORRECTIONS/ADDITIONS TO CSS RESET ********************************/

/* use screen size as border size for content */
html {
	box-sizing: border-box;
}

body {
	box-sizing: border-box;
}

/***************************************** MY STYLING BEGINS HERE *****************************************/

/* GLOBAL STYLES */

.skip { /* styles skiplinks: https://www.w3schools.com/accessibility/accessibility_skip_links.php */
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.skip:focus { /* styles skiplinks focus state: https://www.w3schools.com/accessibility/accessibility_skip_links.php */
	position: absolute;
	left: 0;
	top: 0;
	width: auto;
	height: auto;
}

h1 { /* targets all page titles */
	font-family: "Aclonica", 'Arial Narrow', Arial, sans-serif; /* links to google font from wireframes embedded in head of each html file */
	font-size: 3rem; /* sets font size */
}

h2, h3, h4, h5, h6 { /* targets all other headings */
	font-family: "Happy Monkey", 'Arial Narrow', Arial, sans-serif; /* links to google font */
	padding-top: 10px; /* adds padding */
	padding-bottom: 10px; /* adds padding */
	margin-top: 1rem; /* adds margin */
}

h2 { /* targets all h2s */
	font-size: 2rem; /* sets font size */
}

h3 { /* targets all h3s */
	font-size: 1.5rem; /* sets font size */
}

body { /* targets all body content */
	font-family: "EB Garamond", 'Arial Narrow', Arial, sans-serif; /* links to google font */
}

img { /* targets all images */
	width: 100%; /* sizes all images */
}

a { /* targets all links */
	color: #228ed3; /* color value from wireframes */
}

a:link { /* targets all links */
	color: #228ed3; /* color value from wireframes */
	text-decoration: none; /* removes underline */
}

a:hover { /* targets all links when hovered over */
	color: #3e8117; /* color value from wireframes */
}

a:active { /* targets all links when selected */
	color: #3e8117; /* color value from wireframes */
}

.wrapper { /* targets article wrappers on about and adopt pages */
	margin: 0 20px; /* sets margins */
}

/* STYLES NAV BAR */

.container-fluid { /* targets expanded nav menu */
	background-color: #228ed3; /* color value from wireframes */
}

.nav-link { /* targets nav menu links */
	color: #f5eea5; /* color value from wireframes */
	font-size: larger; /* increases font size */
}

.navbar { /* targets nav bar */
	padding: 0; /* removes padding */
}

.navbar-nav .nav-link.active { /* targets nav menu links when selected */
	color: #f5eea5; /* color value from wireframes */
}

.navbar-toggler-icon { /* targets hamburger nav icon */
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28245, 238, 165, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); /* modifies rgba values of menu icon to match wireframes */
}

/* STYLES NAV BUTTONS */

.nav-buttons, .adopt-nav-buttons { /* targets all nav buttons */
	display: grid; /* allows buttons to be arranged */
	grid-template-columns: 1fr 1fr; /*grid has 2 equal columns */
	place-items: center; /*centers grid cell content */
} { /* targets all nav buttons */
	display: grid; /* allows buttons to be arranged */
	grid-template-columns: 1fr 1fr; /*grid has 2 equal columns */
	place-items: center; /*centers grid cell content */
}

.nav-buttons a, .adopt-nav-buttons a { /* targets all nav buttons */
	text-align: center; /* centers text below vector images */
	padding-bottom: 10px; /* adds padding */
	padding-top: 10px; /* adds padding */
}

.nav-buttons img, .adopt-nav-buttons img { /* targets all nav button images */
	height: 100px; /* sizes vectors */
	width: 100px; /* sizes vectors */
}


/* STYLES FOOTER */

footer { /* targets footer */
	display: flex; /* arranges content in a row */
	justify-content: space-between; /* spaces footer content */
	background-color: #228ed3; /* color value from wireframes */
	color: #f5eea5; /* color value from wireframes */
	padding-top: 10px; /* adds padding to footer */
	padding-bottom: 10px; /* adds padding to footer */
	padding-left: 10px; /* adds padding to footer */
	padding-right: 10px; /* adds padding to footer */
}

footer path { /* targets home link in footer */
	fill: black; /* changes home icon color */
}

footer path:hover { /* targets home icon in footer when hovered over */
	fill: #f5eea5; /* changes home icon color */
}

footer path:active { /* targets home icon in footer when selected */
	fill: #f5eea5; /* changes home icon color */
}

/* STYLES HOME PAGE */

.home-header { /* targets home page banner*/
	background-image: url(../images/home-banner.png); /* makes home-banner img background image for page title */
	height: 50vw; /* sets height for the header section */
	max-height: 300px; /* sets max height for the header section */
	/* code from https://www.w3schools.com/howto/howto_css_hero_image.asp to style text over background image*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* STYLES ABOUT PAGE */

.about-header { /* targets about page banner*/
	background-image: url(../images/about-banner.png); /* makes about-banner img background image for page title */
	height: 50vw; /* sets height for the header section */
	max-height: 300px; /* sets max height for the header section */
	/* code from https://www.w3schools.com/howto/howto_css_hero_image.asp to style text over background image*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

#about-main article { /* targets articles on the about page*/
	margin-top: 2rem; /* adds margin */
}

#about-main article h3 { /* targets h3s on the about page*/
	margin-top: 0; /* removes margin */
	padding-top: 0; /* removes margin */
}

#about-main article img { /* targets main section images on the about page */
	margin-top: 1rem; /* adds margin */
}

/* STYLES ADOPT PAGE */

.adopt-header { /* targets about page banner*/
	background-image: url(../images/adopt-banner.png); /* makes about-banner img background image for page title */
	height: 50vw; /* sets height for the header section */
	max-height: 300px; /* sets max height for the header section */
	/* code from https://www.w3schools.com/howto/howto_css_hero_image.asp to style text over background image*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

#available-pets { /* targets available pets article*/
	display: grid; /* allows items to be arranged*/
	place-items: center; /* centers content within each cell*/
	margin-top: 1rem; /* adds margin*/
	text-align: center; /* centers text*/
}

#adoption-process { /* targets adoption process article*/
	background-color: #f5eea5; /* adds background color to section*/
	display: grid; /* allows items to be arranged*/
	padding: 10px; /* adds padding*/
	padding-bottom: 20px; /* adds padding*/
	place-items: center; /* centers content*/
}

#adoption-process  h3, #secure-portal h3{ /* targets adoption process and adoption portal h3s*/
	max-width: 340px; /* sets max width to preserve line breaks*/
	text-align: center; /* centers text*/
}

#adopt-process { /* targets adoption process image */
	width: 50%; /* sizes image */
	border-radius: 25%; /* rounds corners */
}

.adoption-img { /* targets adoption process image link*/
	width: 100%; /* sets width */
	display: flex; /* allows items to be arranged */
}

.adoption-img img { /* targets adoption process image*/
	margin: 0 auto; /* sets margin*/
}

#secure-portal { /* targets secure portal article id*/
	display: grid; /* allows items to be arranged*/
	justify-content: center; /* centers content*/
}

/* MEDIA QUERIES using bootstrap breakpoints */

@media screen and (min-width: 576px) { /* STYLES FOR TABLET */

	#about-main article { /* targets about page articles*/
		display: flex; /* allows items to be arranged*/
		justify-content: center; /* centers content*/
		align-items: center; /* centers content*/
		gap: 1rem; /* adds gap*/
	}

	#about-main article img { /* targets about page article images*/
		width: 50%; /* sets width*/
		height: auto; /* sets height*/
	}

	.history { /* targets history article on about page*/
		flex-direction: row-reverse; /* reverses text and image*/
	}

	#about-main article:nth-child(2) { /* targets location article on about page*/
		margin-bottom: 2rem; /* sets margin*/
	}
}

@media screen and (min-width: 992px) { /* STYLES FOR DESKTOP*/

	.nav-buttons { /* targets all nav buttons */
	display: grid; /* allows buttons to be arranged */
	grid-template-columns: 1fr 1fr 1fr; /*grid has 3 equal columns */
	place-items: center; /*centers grid cell content */
}
	
	#about-main { /* targets main content on about page*/
		display: flex; /* allows content to be arranged*/
		flex-direction: row-reverse; /* reverses order of content*/
		margin-top: 1rem; /* adds margin*/
	}

	#about-main article { /* targets articles on the about page*/
		margin-top: -1rem; /* adjusts margin*/
	}

	.mission { /* targets mission article on about page*/
		flex-direction: column-reverse; /* reverses order of content*/
	}

	#about-main .mission img { /* targets mission article image*/
		width: 100%; /* sets width*/
		margin-top: 0; /* removes margin*/
	}

	#about-main .mission h2 { /* targets mission h2*/
		margin-top: 0; /* removes margin*/
	}

}