/* **************************************** CSS reset ****************************************
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1.5;
	/* modifies CSS reset to slightly increase line height for readability */
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***************************************** SPA CORRECTIONS/ADDITIONS TO CSS RESET ********************************/

/* use screen size as border size for content */
html {
	box-sizing: border-box;
}

body {
	box-sizing: border-box;
}

/***************************************** MY STYLING BEGINS HERE *****************************************/

/***************************************** GLOBAL STYLING *****************************************/

.skip {
	/* styles skiplinks: https://www.w3schools.com/accessibility/accessibility_skip_links.php */
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.skip:focus {
	/* styles skiplinks focus state: https://www.w3schools.com/accessibility/accessibility_skip_links.php */
	position: absolute;
	left: 0;
	top: 0;
	width: auto;
	height: auto;
}

h1 {
	/* targets all page titles */
	font-family: "Aclonica", 'Arial Narrow', Arial, sans-serif;
	/* links to google font from wireframes embedded in head of each html file */
	font-size: 2.5rem;
}

h2,
h3,
h4,
h5,
h6 {
	/* targets all other headings */
	font-family: "Happy Monkey", 'Arial Narrow', Arial, sans-serif;
	/* links to google font from wireframes embedded in head of each html file */
	padding-top: 10px;
	padding-bottom: 10px;
}

h2 {
	/* targets all h2s */
	font-size: 2rem;
	/* sizes h2s */
}

h3 {
	/* targets all h3s */
	font-size: 1.5rem;
	/* sizes h3s */
}

body {
	/* targets all body content */
	font-family: "EB Garamond", 'Arial Narrow', Arial, sans-serif;
	/* links to google font from wireframes embedded in head of each html file */
}

img {
	/* targets all images */
	width: 100%;
	/* sizes all images */
}

a:link {
	/* targets all links */
	color: #228ed3;
	/* color value from wireframes */
	text-decoration: none;
	/* removes underline */
}

a:hover {
	/* targets all links when hovered over */
	color: #3e8117;
	/* color value from wireframes */
}

a:active {
	/* targets all links when selected */
	color: #3e8117;
	/* color value from wireframes */
}

main {
	margin: 20px;
}

.home-header {
	/* targets home page banner*/
	background-image: url(../images/home-banner.png);
	/* makes home-banner img background image for page title */
	height: 50vw;
	/* sets height for the header section */
	max-height: 300px;
	/* sets max height for the header section */
	/* code from https://www.w3schools.com/howto/howto_css_hero_image.asp to style text over background image*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-header {
	/* targets about page banner*/
	background-image: url(../images/about-banner.png);
	/* makes about-banner img background image for page title */
	height: 50vw;
	/* sets height for the header section */
	max-height: 300px;
	/* sets max height for the header section */
	/* code from https://www.w3schools.com/howto/howto_css_hero_image.asp to style text over background image*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.adopt-header {
	/* targets about page banner*/
	background-image: url(../images/adopt-banner.png);
	/* makes about-banner img background image for page title */
	height: 50vw;
	/* sets height for the header section */
	max-height: 300px;
	/* sets max height for the header section */
	/* code from https://www.w3schools.com/howto/howto_css_hero_image.asp to style text over background image*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* STYLES NAV BAR */

.container-fluid {
	/* targets expanded nav menu */
	background-color: #228ed3;
	/* color value from wireframes */
}

.nav-link {
	/* targets nav menu links */
	color: #f5eea5;
	/* color value from wireframes */
	font-size: larger;
}

.navbar {
	/* targets nav bar */
	padding: 0;
	/* removes padding */
}

.navbar-nav .nav-link.active {
	/* targets nav menu links when selected */
	color: #f5eea5;
	/* color value from wireframes */
}

.navbar-toggler-icon {
	/* targets hamburger nav icon */
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28245, 238, 165, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
	/* modifies rgba values of menu icon to match wireframes */
}

/* STYLES NAV BUTTONS */

.nav-buttons {
	/* targets all nav buttons */
	display: grid;
	/* allows buttons to be arranged */
	grid-template-columns: 1fr 1fr;
	/*grid has 2 equal columns */
	place-items: center;
	/*centers grid cell content */
}

.nav-buttons a {
	/* targets all nav buttons */
	text-align: center;
	/* centers text below vector images */
	padding-bottom: 10px;
	/* adds padding */
	padding-top: 10px;
	/* adds padding */
}

.nav-buttons img {
	/* targets all nav button images */
	height: 100px;
	/* sizes vectors */
	width: 100px;
	/* sizes vectors */
}

/* SPA */
/* STYLES ABOUT PAGE */

#mission {
	display: grid;
	
}

#history {
	display: grid;
}

#location {
	display: grid;
}

/* STYLES ADOPT PAGE */

#available-pets {
	display: grid;
}

#adoption-process {
	display: grid;
}

#adopt-process {
	/* targets adoption process image */
	width: 50%;
	/* sizes image */
	height: 50%;
	/* sizes image */
	border-radius: 50%;
	/* rounds corners */
}

#secure-portal {
	
}

/* STYLES FOOTER */

footer {
	/* targets footer */
	display: flex;
	/* arranges content in a row */
	justify-content: space-between;
	/* spaces footer content */
	background-color: #228ed3;
	/* color value from wireframes */
	color: #f5eea5;
	/* color value from wireframes */
	padding-top: 10px;
	/* adds padding to footer */
	padding-bottom: 10px;
	/* adds padding to footer */
	padding-left: 10px;
	/* adds padding to footer */
	padding-right: 10px;
	/* adds padding to footer */
}

footer path {
	/* targets home link in footer */
	fill: black;
}

footer path:hover {
	/* targets home icon in footer when hovered over */
	fill: #f5eea5;
}

footer path:active {
	/* targets home icon in footer when selected */
	fill: #f5eea5;
}